In [ ]:
#1
print("hello world!")
#2
price = 4.9
print(price)
#3
name = input('what is ur name? ')
print('Hi ' + name)
color = input('What is ur fav color?' )
print(name + ' likes ' + color)

hello world!
4.9
what is ur name? Binh
Hi Binh
What is ur fav color?red
Binh likes red

In [ ]:
#4
birth_year = int(input('Birth year: '))
age = 2021 - birth_year
print(age)

In [ ]:
#5
weight_lbs = int(input('weight: '))
weight_kg = weight_lbs * 0.45
print(weight_kg)

weight: 170
76.5

In [ ]:
#6
course = "Python's course for beginner"
print(course[-4:-1])

nne

In [ ]:
#7
first = 'John'
last = 'Smith'
message = first + last + 'is a coder'
msg =f'{first} [{last}] is a coder'
print(msg)

John [Smith] is a coder

In [5]:
#8
course = 'Python for beginners'
print(len(course))
print(course.upper())
print(course.find('o'))
print(course.replace('beginners', 'absolute beginners'))
print('Python' in course)

20
PYTHON FOR BEGINNERS
4
Python for absolute beginners
True

In [11]:
#9
print(10//3)
print(10%3)
print(10**2)
x = 10
x += 3
print(x)

3
1
100
13

In [13]:
#10
x = 10 + 3 * 2
print(x)

16

In [15]:
#11
x = 2.9
print(abs(-2.9))

2.9

In [17]:
#12
import math
print(math.ceil(2.9))

3

In [21]:
#13
is_hot = False
is_cold = False
if is_hot:
  print("It's a hot day")
  print('Drink water') 
elif is_cold:
  print("it's a cold day")
  print('Wear warm clothes')
else:
  print("It's a lovely day")
print('Enjoy your day')

It's a lovely day
Enjoy your day

In [26]:
#14
house_price = 1000000
has_good_credit = False
if has_good_credit:
  print('Put down: ', house_price*0.1)
else:
  print('Put down: ', house_price*0.2)

Put down:  200000.0

In [28]:
#15
has_high_income = True
has_good_credit = False
if has_high_income and has_good_credit:
  print('Eligible for loan')
else:
  print('Not eligible for loan')

Not eligible for loan

In [32]:
#16
temp = 33
if temp > 30:
  print("It's a hot day")
else:
  print("It's not a hot day")

It's not a hot day

In [36]:
#17
name = 'Binh'
if len(name) < 3:
  print("Name must be at least 3 characters long")
if len(name) > 3:
  print("It's good to go")

It's good to go

In [40]:
#weight converter
weight = int(input('Weight: '))
unit = input('(L)bs or (K)g: ')
if unit.upper() == 'L':
  converted = weight * 0.45
  print(f'You are {converted} kilos')
else:
  converted = weight // 0.45
  print(f'You are {converted} pounds')

Weight: 159
(L)bs or (K)g: l
You are 71.55 kilos

In [42]:
#18
i = 1
while i <= 5:
  print(i)
  i = i+1
print('Done')

1
2
3
4
5
Done

In [ ]:
#guesing game
secret_number = 5
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input("Guess: "))
  guess_count += 1
  if guess == secret_number:
    print('You won ')
    break
else:
  print('You failed')

In [ ]:
#20
for item in ('Binh'):
  print(item)
#21
for item in range(5,10):
  print(item)

In [50]:
#22
prices = [10, 40, 50]
total = 0
for price in prices:
  total += price
print(f'Total: {total}')

Total: 100

In [56]:
#23
names = ['john', 'bob', 'sarah']
print(names[0:2])

#24
numbers = [0,1,2,3,4,9]
max = numbers[0]
for number in numbers:
  if number > max:
      max = number
print(max)

['john', 'bob']
9

In [ ]:
#24
matrix = [
            [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]
]
for row in matrix:
  for item in row:
    print(item)

In [70]:
#25
numbers = [5,3,6,7,8]
numbers.insert(4,5)
numbers.remove(5)
numbers.pop()
print(numbers)

[3, 6, 7, 5]

In [71]:
#26
numbers = [5,5,2,4,4,3,3]
uniques = []
for number in numbers:
  if number not in uniques:
    uniques.append(number)
print(uniques)

[5, 2, 4, 3]

In [75]:
#27
coordinates = (1,2,3)

x, y, z = coordinates
print(x)

1

In [81]:
#28 dict
customer = {
    'name': 'John Smith',
    'age' :  30,
    'is_verified' : True
}
print(customer.get('birthday', '19 Jan 1998'))

19 Jan 1998

In [85]:
#29
phone = input('Phone: ')
digits_mapping = {
    '1': 'one',
    '2': 'two',
    '3': 'three',
    '4': 'four'
}
output = ' '
for ch in phone:
  output += digits_mapping.get(ch, '!') + ' '
print(output)

Phone: 1234
 one two three four

In [88]:
#f30 function
def greet(name):
  print('Hi there', name)
  print('Welcome', name)
greet('John')

Hi there John
Welcome John

In [90]:
#31
def square(number):
  return number * number

square(4)

16

In [94]:
#exception
try:
  age = int(input('Age: '))
  income = 2000
  risk = income/age
  print(age)
except ZeroDivisionError:
  print('age can not be 0')
except ValueError:
  print('Invalid value')

Age: 0
age can not be 0